:root {
    --text-align: center;
    --height: auto;
    --text-font: 'Roboto', cursive;
    --heading-font: 'Gochi Hand';
    --primary-color: #33658A;
    --secondary-color: #86BBD8;
    --accent1-color: #F6AE2D;
    --accent2-color: #F26419;
}


h2 {
    font-family: 'Gochi Hand';
    color: var(--primary-color);
}

main p {
    font-family: var(--font-family);
}

a {
    text-align: var(--text-align);
    font-family: var(--font-family);
	padding: 10px;
	text-decoration: none;
}

main {
	max-width: 1200px;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1200px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width:100px;
	height: auto;
}

nav {
	text-align: right;
}

footer {
    margin: 1rem auto;
    display: flex;
    justify-content: center;
	border-top: 1px solid #ccc;
	max-width: 1200px;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 13rem;
}

.hero h1 {
    position: absolute;
    /* font-family: 'Gochi Hand';
    color: #33658A;
    border: 20rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #33658A80; */
}

.hero article {
    position: absolute;
    background-color: var(--accent1-color);
    padding: 1rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    width: 200px;
    height: var(--height);
    padding: 2px;
    float: right;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: 10px;
  }

  figure img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    color: var(--primary-color);   
    font: var(--text-font);
    padding: 3px;
    text-align: center;
  }

