:root {
    --text-align: center;
    --height: auto;
    --text-font: 'Roboto', cursive;
    --heading-font: 'Gochi Hand';
    --primary-color: #33658A;
    --secondary-color: #86BBD8;
    --accent1-color: #F6AE2D;
    --accent2-color: #F26419;
}


h2 {
    font-family: 'Gochi Hand';
    color: var(--primary-color);
}

main p {
    font-family: var(--font-family);
}

a {
    text-align: var(--text-align);
    font-family: var(--font-family);
	padding: 10px;
	text-decoration: none;
}

main {
	max-width: 1200px;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1200px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width:100px;
	height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
}

footer {
    margin: 1rem auto;
	border-top: 1px solid #ccc;
	max-width: 1200px;
}

footer p {
    position: absolute;
}

.social-media-icons {
    display: flex; /* Use flexbox for horizontal alignment */
    justify-content: flex-end; /* Align items to the right */
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 13rem;
}

.hero h1 {
    position: absolute;
    /* font-family: 'Gochi Hand';
    color: #33658A;
    border: 20rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #33658A80; */
}

.hero article {
    position: absolute;
    background-color: var(--accent1-color);
    padding: 1rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    width: 200px;
    height: var(--height);
    padding: 2px;
    float: right;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: 10px;
  }

  figure img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    color: var(--primary-color);   
    font: var(--text-font);
    padding: 3px;
    text-align: center;
  }

.info {
    margin-top: 2rem;
    text-align: center;
}

.info1 {
    margin-left:25rem;
    display: flex;
    align-items: center;
}

.info1 img {
    margin-right: 10px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    display: grid;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

button {
    width: 100px;
    height: 30px;
    margin: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.centred-button {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: darkgreen;
}

.leadership-team {
    margin-top: 2rem;
    display: flex;
    justify-content:space-between;
}

.form {
    margin-top: 2rem;
}
