:root {
    --text-align: center;
    --height: auto;
    --text-font: 'Roboto', cursive;
    --heading-font: 'Gochi Hand';
    --primary-color: #33658A;
    --secondary-color: #86BBD8;
    --accent1-color: #F6AE2D;
    --accent2-color: #F26419;
}


h1, h2 {
    font-family: 'Gochi Hand';
    color: var(--primary-color);
}

main p {
    font-family: var(--font-family);
}

a {
    text-align: var(--text-align);
    font-family: var(--font-family);
	padding: 10px;
	text-decoration: none;
}

main {
	max-width: 1200px;
}

header {
	margin: 1rem auto;
	display: grid;
	grid-template-columns: 120px 1fr 2fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1200px;
}

header img {
	margin: 0 0.25rem 0 1rem;
	width:100px;
	height: auto;
}

nav {
    display: flex;
    justify-content: flex-end;
}

footer {
    margin: 1rem auto;
	border-top: 1px solid #ccc;
	max-width: 1200px;
}

footer p {
    position: absolute;
}

.social-media-icons {
    display: flex;
    justify-content: flex-end;
}

.hero {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 13rem;
}

.hero h1 {
    position: absolute;
}

.hero article {
    position: absolute;
    background-color: var(--accent1-color);
    padding: 1rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    width: 200px;
    height: var(--height);
    padding: 2px;
    float: right;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: 10px;
  }

figure img {
    max-width: 220px;
    max-height: 150px;
}

figcaption {
    color: var(--primary-color);   
    font: var(--text-font);
    padding: 3px;
    text-align: center;
  }

.info {
    margin-top: 2rem;
    text-align: center;
}

.info1 {
    margin-left:25rem;
    display: flex;
    align-items: center;
}

.info1 img {
    margin-right: 10px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: var(--secondary-color);
    display: grid;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}

button {
    width: 100px;
    height: 30px;
    margin: 1rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.centred-button {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: darkgreen;
}

.leadership-team {
    margin-top: 2rem;
    display: flex;
    justify-content:space-between;
}

.form {
    margin-top: 2rem;
}

.trip {
    background-color: var(--secondary-color);
}

.trip h1 {
    padding: 1rem;
    text-align: center;
}

.trip-img img {
    max-width: fit-content;
    max-height: fit-content
}

.trip-tbl {
    width: 100%;
    border-collapse: collapse;
}

.trip-tbl th, .trip-tbl td {
    padding: 8px;
    text-align: center;
    border: 1px solid var(--primary-color);

}

.trip-tbl th {
    background-color: var(--primary-color);
    font-weight: bold;
}

.trip-tbl tr:hover {
    background-color: var(--secondary-color);
}

.trips-img {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.trip-img {
    flex: 1;
    margin: 10px;
    max-width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.index-hero {
    position: relative;
    height: 350px;
    overflow: hidden;
}

.index-hero img {
    width: 100%;
    height: auto;
    display: block;
}

.index-hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: var(--accent1-color);
    font-size: 2.5em;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.index-imgs {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.index-img {
    flex: 1;
    margin: 10px;
    max-width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.index-img img {
    max-width: fit-content;
    max-height: fit-content
}

.index-call {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.index-call img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 3rem;
}

.index-call h2,
.index-call button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.index-call h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.index-call button {
    margin-top: 8rem;
    width: 100px;
    height: 30px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-size: 1rem;
    border-radius: 0.5rem;
}

.index-call button:hover {
    background-color: darkgreen;
}

